{
  "branches": [
    "main",
    {
      "name": "release",
      "prerelease": "rc"
    },
    {
      "name": "develop",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "submodules": [
    {
      "path": "common-library",
      "version": "1.0.0",
      "plugins": [
        [
          "@semantic-release/commit-analyzer",
          {
            "preset": "angular"
          }
        ],
        [
          "@semantic-release/release-notes-generator",
          {
            "preset": "angular"
          }
        ],
        "@semantic-release/changelog",
        [
          "@semantic-release/npm",
          {
            "npmPublish": false
          }
        ],
        [
          "@semantic-release/git",
          {
            "assets": ["CHANGELOG.md"],
            "message": "chore(release): publish common-library [skip ci]"
          }
        ]
      ]
    },
    {
      "path": "process-calendar-job",
      "version": "1.0.0",
      "plugins": [
        [
          "@semantic-release/commit-analyzer",
          {
            "preset": "angular"
          }
        ],
        [
          "@semantic-release/release-notes-generator",
          {
            "preset": "angular"
          }
        ],
        "@semantic-release/changelog",
        [
          "@semantic-release/npm",
          {
            "npmPublish": false
          }
        ],
        [
          "@semantic-release/git",
          {
            "assets": ["CHANGELOG.md"],
            "message": "chore(release): publish process-calendar-job [skip ci]"
          }
        ]
      ]
    }
  ]
}
