{
  "branches": [
    "main",
    {
      "name": "release",
      "prerelease": "rc"
    },
    {
      "name": "develop",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    "@semantic-release/github"
  ],
"submodules": [
  {
    "path": "process-calendar-job",
    "version": "1.0.0",
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/changelog",
      "@semantic-release/git",
    ]
  },
  {
    "path": "common-library",
    "version": "1.0.0",
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/changelog",
      "@semantic-release/git",
    ]
  }
  ]
}
